/*Title font*/
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
/*Nav font*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*body font*/
@import url('https://fonts.googleapis.com/css?family=Economica');

body {
  background-image: url("../img/moon-mayhem-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  padding: 0.2em;
  font-family: 'Economica', sans-serif;
  font-size: 1.5em;
  color: #fff;
}
