/*Title font*/
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
/*Nav font*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*body font*/
@import url('https://fonts.googleapis.com/css?family=Economica');

body {
  background-image: url("../img/moon-mayhem-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: 'Economica', sans-serif;
  font-size: 1.75em;
  line-height: 1.5;
  color: #fff;
}

h1 {
  font-family: 'Diplomata SC', cursive;
  margin-top: 20px;
  text-align: center;
  color: #E6F2F4;
}

#about-moon h1 {
  font-family: 'Diplomata SC', cursive;
  margin-top: 20px;
  text-align: center;
  color: #E6F2F4;
}

#about-moon p {
  font-family: 'Economica', sans-serif;
  font-size: 1.75em;
  line-height: 1.5;
  color: #fff;
}

div.about-sections img, div.about-sections p {
  display: inline-block;
  float: left;
}

div.about-sections img {
  width: 30%;
}

div.about-sections p {
  width: 60%;
}
