/*Title font*/
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
/*Nav font*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*body font*/
/*@import url('https://fonts.googleapis.com/css?family=Economica');*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background-image: url("../img/moon-mayhem-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.75em;
  line-height: 1.2em;
  color: #fff;
  text-align: center;
}

h1 {
  font-family: 'Diplomata SC', cursive;
  margin-top: 20px;
  text-align: center;
  color: #E6F2F4;
}

#about-moon h1 {
  font-family: 'Diplomata SC', cursive;
  margin-top: 20px;
  text-align: center;
  color: #E6F2F4;
}

#about-moon p {
  text-align: left;
  padding-left: 5%;
}

div.about-sections img, div.about-sections p {
  display: inline-block;
  float: left;
}

div.about-sections img {
  width: 20%;
}

div.about-sections p {
  width: 75%;
}

#about-moon p strong {
  color: #4EEDC8;
}

#resources li {
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.75em;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
}

#resources ul li a {
  color: #4EEDC8;
}
