/** {
  border: 1px solid pink;
}*/

main {
  width: 90%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

/* Menu rules */
header {
  min-height: 42px;
  background-color: rgba(5, 5, 5, 0.7);
}

h1{
  margin-top: 20%;
  text-align: center;
  font-family: 'Diplomata SC', cursive;
  font-size: 2em;
  color: #E6F2F4;
}

nav.top-nav i.menu {
  padding: 11px 16px 6px 0;
  float: right;
  color: #fff;
  font-size: 1.7em;
}

nav.top-nav ul {
  display: none;
  margin:0;
}

nav.top-nav ul li {
  list-style: none;
  padding: 5px 0;
  min-height: 42px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  color: #fff;
}

nav.top-nav:hover ul {
  display: block;
}

nav.top-nav a {
  text-decoration: none;
  color:inherit;
}
/* Media Queries */
/* Tablets */
@media only screen and (min-width: 767px) {
  /* menu rules */
  h1{
    margin-top: 10%;
    font-size: 2.5em;
  }
  nav.top-nav ul  {
    display: inline-block;
    padding-top: 7px;
    padding-left: 6px;
  }
  nav.top-nav ul li {
    min-height: 0;
    display: inline-block;
    color: #fff;
    padding-right: 20px;
  }
  nav.top-nav li:hover {
    color: #4EEDC8;
  }

  nav.top-nav ul li.active-nav-item a {
    border-bottom: 2px solid #000;
  }
  i.menu {
    display: none;
  }
  select {
    display: inline-block;
    min-height: 0;
    float: left;
  }
  button {
    display: inline-block;
    min-height: 0;
  }
}

/* Laptop and above */
@media only screen and (min-width: 1025px) {
  /* nav rules */
  nav {
    max-width: 1025px;
    margin: 0 auto;
  }
}
