form {
  margin: 0 auto;
}

form > select {
  margin: 0 auto;
  width: 28%;
  padding: 0.5em;
}

#selector-container {
  width: 50%;
  margin: 0 auto;
}

select {

  border: 2px #0CF2BD solid;
  border-radius: 15%;
  background-color: black;
  font-family: 'Economica', sans-serif;
  font-size: 1.5em;
  color: #fff;

}

button {
  margin-left: 1em;
  border: 2px #0CF2BD solid;
  border-radius: 15%;
  font-family: 'Economica', sans-serif;
  background-color: #33658A;
  font-size: 1.5em;
  color: #fff;
}

button:hover {
  background-color: #5B4E77;
}
