form {
  margin: 0 auto;
}

form > select {
  margin: 0 auto;
  width: 30%;
}

#selector-container {
  width: 50%;
  margin: 0 auto;
}

select {
  border: 1px green solid;
  opacity: 0.5;
  background-color: black;
  color: #fff;
}
